
.A-logo {
    font-family: Arial, Helvetica, sans-serif;
    color: #415ce0; /* Define a cor do texto do logotipo da empresa */
  }
  
  .A-logo span {
    color: #e0b941; /* Define a cor do texto dentro do span */
  }
  .img-item{
    width: 40%;
  }